@import "help/vars_and_mixins";

main.aboutUs {
  background: none;
  overflow-x: hidden;
}

.about-company {
  margin-bottom: 120px;
  overflow-x: hidden;
  @media (max-width: 768px) {
    margin-bottom: 60px;
  }
  @media (max-width: 480px) {
    padding-top: 100px;
    margin-bottom: 10px;
  }
}

.about {
  @include flex(space-between, center, column);

  background-image: url(../img/about-background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  // @media screen and (max-width: 768px) {
  //   background-image: url(../img/about-background-tablet.png);
  //   background-size: auto;
  //   background-position: right 60px;
  // }

  @media screen and (max-width: 768px) {
    background-position: top;
  }

  &-header {
    text-align: center;
    color: $black;
    width: 53%;
    margin: 0 auto 118px;
    @media (max-width: 768px) {
      width: 95%;
      margin-bottom: 100px;
    }
    @media (max-width: 480px) {
      width: 98%;
      margin-bottom: 260px;
      padding-top: 40px;
    }
    &__title {
      font-family: "TitilliumWebBold", sans-serif;
      font-size: 40px;
      line-height: 1.3;
      margin-bottom: 10px;
      @media (max-width: 480px) {
        font-size: 24px;
      }
    }
    &__text {
      font-family: "TitilliumWebSemiBold", sans-serif;
      font-size: 18px;
      line-height: 1.56;
    }
  }
  &-inner {
    @include flex(space-between, flex-end, row);
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
    width: 100%;
  }
  &-description {
    color: $black;
    width: 37%;
    @media (max-width: 768px) {
      width: 66%;
    }
    @media (max-width: 480px) {
      width: 86%;
    }
    &__title {
      font-family: "TitilliumWebSemiBold", sans-serif;
      font-size: 24px;
      line-height: 1.58;
      margin-bottom: 20px;

      @media screen and (max-width: 480px) {
        font-size: 18px;
      }
    }
    &__text {
      font-family: "TitilliumWebRegular", sans-serif;
      font-size: 16px;
      line-height: 2;

      @media screen and (max-width: 480px) {
        font-size: 14px;
      }
    }
  }
  &-block {
    width: 47%;
    height: 100%;
    z-index: 1;
    @media (max-width: 768px) {
      width: 80%;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
      display: block;
    }
    &__count {
      @include flex(space-between, stretch, row);
      flex-wrap: wrap;
      @media screen and (max-width: 768px) {
        margin-bottom: 20px;
      }
    }
    &__item {
      width: 50%;
      margin-top: 70px;
      @media screen and (max-width: 768px) {
        margin-bottom: 14px;
      }
      @media screen and (max-width: 480px) {
        width: 100%;
        margin-bottom: 0px;
        margin-top: 20px;
      }
      span {
        font-family: "TitilliumWebSemiBold", sans-serif;
        font-size: 50px;
        color: $black;
      }
    }
    &__item:nth-child(4) {
      @media (max-width: 480px) {
        order: 2;
      }
    }
    &__item:nth-child(2) {
      @media (max-width: 480px) {
        order: 1;
      }
    }
    &__text {
      font-family: "TitilliumWebSemiBold", sans-serif;
      font-size: 16;
      line-height: 1.5;
      color: $black;
      margin-top: 7px;
    }
  }
}

.watch {
  @include flex(space-between, stretch, row);
  @media screen and (max-width: 910px) {
    flex-direction: column;
    margin-bottom: 0px;
  }
  &-description {
    @include flex(center, center, row);
    @media screen and (min-width: 1441px) {
      justify-content: flex-start;
      padding-left: calc((100vw - 1100px) / 2);
    }
    background-color: #282828;
    width: 50%;
    @media screen and (max-width: 910px) {
      width: 100%;
      height: 441px;
    }
    @media screen and (max-width: 480px) {
      height: auto;
      padding: 15px 0;
    }
    &__inner {
      width: 65%;
      @media screen and (max-width: 480px) {
        width: 90%;
      }
    }
    &__title {
      font-size: 40px;
      color: #fff;
      line-height: 1.3;
      font-family: "TitilliumWebBold", sans-serif;
      margin-bottom: 21px;
      @media screen and (min-width: 1024px) and (max-width: 1200px) {
        font-size: 34px;
        margin-bottom: 15px;
      }
      @media screen and (min-width: 910px) and (max-width: 1024px) {
        font-size: 32px;
        margin-bottom: 10px;
      }
      @media screen and (max-width: 480px) {
        font-size: 24px;
      }
    }
    &__header {
      font-family: "TitilliumWebBold", sans-serif;
      font-size: 40px;
      line-height: 1.3;
      color: #fff;
    }
    &__text {
      font-family: "TitilliumWebSemiBold", sans-serif;
      font-size: 24px;
      line-height: 1.56;
      color: #fff;
      margin-bottom: 40px;
      @media screen and (min-width: 1024px) and (max-width: 1200px) {
        font-size: 16px !important;
        margin-bottom: 15px;
      }
      @media screen and (min-width: 910px) and (max-width: 1200px) {
        font-size: 14px !important;
        margin-bottom: 10px;
      }
      @media screen and (max-width: 480px) {
        font-size: 18px;
      }
    }
    &__text_yellow {
      color: $sunyellow;
    }
  }
  &-player {
    position: relative;
    width: 50%;
    @media screen and (max-width: 910px) {
      width: 100%;
      padding-top: 56.25%;
    }
    &-video {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: fill;  
      @media screen and (max-width: 910px) {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
    &-btn {
      position: absolute;

      top: calc(50% - 42px);
      left: calc(50% - 42px);
      width: 84px;
      height: 84px;
      border: none;
      border-radius: 50%;
      background: url(../img/player-button.svg) no-repeat;
      background-repeat: no-repeat;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
@supports (-webkit-appearance: none) {
  .watch-player-btn {
    top: calc(50% - 54px);
    left: calc(50% - 42px);
  }
}
@-moz-document url-prefix() {
  .watch-player-btn {
    top: calc(50% - 42px);
    left: calc(50% - 42px);
  }
}
@media screen and (max-width: 480px) {
  .watch-player-btn {
    display: none!important;
  }
}
.promise {
  @include flex(space-between, center, row);
  height: 450px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }
  &-block {
    &__left {
      @include flex(center, center, column);
      width: 50%;
      height: 100%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    &__right {
      @include flex(flex-start, center, column);

      width: 50%;
      height: 100%;
      background-color: $sunyellow;
      position: relative;
      @media screen and (max-width: 768px) {
        width: 100%;
        height: 450px;
      }
    }
    &__img {
      position: absolute;
    }
    &__img.cloud {
      width: 100%;
      top: 0;
    }
    &__img.earth {
      right: 17px;
      bottom: 0;
      z-index: 0;
    }
    &__container-text {
      width: 62.5%;
      max-width: 445px;
      height: 100%;
      padding-top: 65px;
      padding-bottom: 65px;

      @media screen and (max-width: 768px) {
        padding-top: 40px;
        padding-bottom: 40px;
      }

      @media screen and (max-width: 480px) {
        width: 90%;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
    &__container {
      @include flex(space-around, flex-start, column);
      width: 56%;
      z-index: 1;
      height: 370px;

      @media screen and (max-width: 480px) {
        width: 90%;
      }
      .main-button {
        width: 269px;
        color: #ffffff;
        padding: 17px 24px;
        background: transparent;
        border: solid 2px #ffffff;
        color: #ffffff;
        &__text {
          font-family: "TitilliumWebSemiBold", sans-serif;
          font-size: 14px;
          padding-right: 44px;
        }
      }
    }
    &__title {
      font-size: 24px;
      color: $black;
      line-height: 1.58;
      max-width: 345px;
      padding-bottom: 20px;
      font-family: "TitilliumWebSemiBold", sans-serif;

      @media screen and (max-width: 480px) {
        font-size: 18px;
      }
    }
    &__text::-webkit-scrollbar {
      width: 5px;
      background-color: #dcdcdc;
    }
    &__text::-webkit-scrollbar-thumb {
      background-color: $sunyellow;
    }
    &__text {
      font-size: 16px;
      color: $black;
      line-height: 2;
      font-family: "TitilliumWebregular", sans-serif;
      max-height: 260px;
      @media screen and (max-width: 1070px) {
        max-height: 233px;
      }
      overflow-x: auto;
      @media screen and (max-width: 480px) {
        font-size: 14px;
      }
    }
    &__heading {
      width: 296px;
      font-family: "TitilliumWebregular", sans-serif;
      font-size: 40px;
      line-height: 1.3;
      color: #ffffff;
      margin-bottom: 120px;
      margin-top: 120px;

      @media screen and (max-width: 480px) {
        font-size: 24px;
      }

      p {
        font-family: "TitilliumWebSemiBold", sans-serif;
      }
    }
  }
}

.innovations {
  overflow-x: hidden;
  &-block {
    @include flex(space-between, center, row);
    @media (max-width: 768px) {
      flex-direction: column;
    }
    color: $black;
    &__description {
      width: 50%;
      @include flex(center, center, column);
      @media (min-width: 1441px) {
        padding-right: calc((100vw - 1110px) / 2);
      }
      @media (max-width: 768px) {
        width: 100%;
        padding-bottom: 40px;
        padding-top: 40px;
      }
      @media (max-width: 480px) {
        padding-bottom: 20px;
        padding-top: 20px;
      }
    }
    &__description:nth-child(1) {
      @media (min-width: 1441px) {
        padding-left: calc((100vw - 1394px) / 2);
        padding-right: 0;
      }
    }
    &__title {
      font-family: "TitilliumWebBold", sans-serif;
      font-size: 40px;
      line-height: 1.3;
      margin-bottom: 20px;
      width: 62.5%;
      @media (max-width: 768px) {
        min-width: 445px;
      }
      @media (max-width: 480px) {
        min-width: 290px;
        margin-top: 20px;
        width: 90%;
        font-size: 24px;
      }
    }
    &__text {
      font-family: "TitilliumWebRegular", sans-serif;
      font-size: 16px;
      line-height: 2;
      width: 62.5%;
      @media (max-width: 768px) {
        min-width: 445px;
      }
      @media (max-width: 480px) {
        min-width: 290px;
        width: 90%;
        font-size: 14px;
      }
    }
    &__square {
      position: relative;
      width: 50%;
      height: 450px;
      background-color: $black;
      @media (max-width: 768px) {
        width: 100%;
      }
      @media (max-width: 480px) {
        height: 350px;
      }
    }
    &__square:nth-child(2) {
      background: url(../img/bg-about-team-drone.jpg) no-repeat center/cover;
      background-color: none;
    }
    &__square_yellow {
      background-color: $sunyellow;
    }
    &__img {
      position: absolute;
      top: 159px;
      left: -77px;
      @media (max-width: 768px) {
        top: 59px;
        left: 43px;
      }
      @media (max-width: 600px) {
        left: -14px;
      }
      @media (max-width: 480px) {
        height: 251px;
        left: -83px;
      }
    }
    &__img_position {
      top: 73px;
      left: 219px;
      @media (max-width: 1200px) {
        left: 88px;
      }
      @media (max-width: 960px) {
        left: -16px;
      }
      @media (max-width: 768px) {
        top: 69px;
        left: 134px;
      }
      @media (max-width: 600px) {
        left: 70px;
      }
      @media (max-width: 480px) {
        left: -52px;
      }
    }
  }
  &-block:nth-child(2) {
    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }
}

.video {
  @include flex(center, center, row);
  height: 450px;
  margin-bottom: 80px;
  position: relative;

  @media screen and (max-width: 480px) {
    height: 260px;
    margin-bottom: 120px;
  }

  &-left {
    background: url(../img/careers-copy-1.png) no-repeat center/cover;
    width: 50%;
    height: 100%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &-right {
    background: url(../img/careers-copy-2.png) no-repeat center/cover;
    width: 50%;
    height: 100%;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &-description {
    position: absolute;
    @include flex(center, center, column);
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
    width: 570px;
    border-radius: 18px;
    background-image: linear-gradient(
      to right,
      rgb(255, 209, 45) 0%,
      rgb(210, 233, 255) 100%
    );
    padding-top: 57px;
    padding-bottom: 57px;

    @media screen and (max-width: 768px) {
      left: 60%;
    }
    @media screen and (max-width: 480px) {
      width: 80%;
      top: 80%;
      left: 50%;
      padding-top: 40px;
      padding-bottom: 30px;
    }

    &__title {
      font-family: "TitilliumWebRegular", sans-serif;
      font-weight: 100;
      font-size: 40px;
      line-height: 1.3;
      margin: 0 0 20px;
      color: $black;
      @media screen and (max-width: 480px) {
        font-size: 24px;
        width: 70%;
        margin: 0 auto 10px;
      }
      span {
        font-family: "TitilliumWebSemiBold", sans-serif;
        color: $black;
      }
    }

    &__text {
      font-family: "TitilliumWebSemiBold", sans-serif;
      font-size: 24px;
      line-height: 1.58;
      color: $black;
      width: 75%;
      @media screen and (max-width: 480px) {
        width: 90%;
        font-size: 18px;
      }
    }
  }
}

.awards {
  margin-bottom: 80px;
  &__block {
    @include flex(flex-start, start, row);
  }
  &__icon {
    margin: 15px 0 0 0;
    width: 90px;
  }
  &__dropdown {
    position: relative;
    width: 100%;
    padding: 26px 0;
    border-bottom: 2px solid $sunflower;
    border-top: 2px solid $sunflower;
  }
  &__dropdown_border {
    border-bottom: none;
  }
  &__title {
    font-family: "TitilliumWebSemiBold", sans-serif;
    font-size: 18px;
    line-height: 1.56;
    color: $black;
    cursor: pointer;
  }
  &__certificate {
    font-family: "TitilliumWebSemiBold", sans-serif;
    font-size: 18px;
    line-height: 1.56;
    color: $black;
    text-decoration: underline;
    position: absolute;
    top: 25px;
    right: 8%;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__arrow {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: absolute;
    transform: rotate(90deg);
    top: 28px;
    right: 4px;
  }
  &__list {
    padding-left: 18px;
    display: none;
    @media screen and (max-width: 480px) {
      padding-top: 30px;
      margin-left: -70px;
    }
  }
  &__item {
    font-family: "TitilliumWebRegular", sans-serif;
    font-size: 16px;
    line-height: 2;
    color: $black;
    list-style-type: square;
    a {
      color: $black;
    }

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
    @media screen and (max-width: 480px) {
      font-size: 12px;
    }
  }
}

.grow {
  background: url(../img/grow-desctop.jpg) no-repeat center/cover;
  @media screen and (max-width: 768px) {
    background: url(../img/grow-tablet.jpg) no-repeat center/cover;
  }
  @media screen and (max-width: 480px) {
    height: 350px;
    background: url(../img/grow-mobile.jpg) no-repeat center/cover;
  }
  height: 600px;
  margin-bottom: 130px;
  @media screen and (max-width: 480px) {
    margin-bottom: 250px;
  }
  position: relative;
  .wrapper {
    position: relative;
    height: 100%;
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
  z-index: 0;
  .all-jobs {
    position: absolute;
    width: 159px;
    bottom: 40px;
    right: 0px;
    @media screen and (max-width: 900px) {
      right: 40px;
      max-width: 160px;
    }
    @media screen and (max-width: 660px) {
      display: none;
    }
  }
  &-block {
    position: absolute;
    bottom: -30px;
    left: 0;
    max-width: 570px;
    color: $black;
    min-height: 300px;
    border-radius: 18px;
    background-image: linear-gradient(to right, $sunyellow 0%, #d2e9ff 100%);
    z-index: 1;
    padding: 50px 90px 20px 90px;
    @media screen and (max-width: 900px) {
      left: 40px;
      max-width: 450px;
      padding: 20px 60px 20px 60px;
    }
    @media screen and (max-width: 768px) {
      left: 0px;
      max-width: 450px;
      border-radius: 0 18px 18px 0;
    }
    @media screen and (max-width: 660px) {
      bottom: -120px;
      max-width: 100%;
      border-radius: 18px;
    }
    @media screen and (max-width: 480px) {
      bottom: -220px;
      min-height: 250px;
    }
    @media screen and (max-width: 440px) {
      padding: 50px 15px 50px 15px;
    }

    &-title {
      font-family: "TitilliumWebBold", sans-serif;
      font-size: 40px;
      line-height: 52px;
      margin: 0;
      padding-bottom: 20px;
      @media screen and (max-width: 500px) {
        font-size: 24px;
        line-height: 32px;
      }
    }
    &-text {
      font-family: "TitilliumWebSemiBold", sans-serif;
      font-size: 24px;
      line-height: 38px;
      @media screen and (max-width: 500px) {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
}

// video::--webkit-media-controls-play-button {
//   display: none !important;
//   -webkit-appearance: none;
// }

// video::-webkit-media-controls-start-playback-button {
//   display: none !important;
//   -webkit-appearance: none;
// }

// video::-webkit-media-controls-panel {
//   display: none !important;
//   -webkit-appearance: none;
// }
