@import "help/vars_and_mixins";

.animation {
  border-radius: 38px;
  background-image: linear-gradient(
    to right,
    $sunyellow 0%,
    #efedd3 51%,
    #d2e9ff 100%
  );
  position: relative;
}

.animation-block {
  @include flex(space-between, center, row);
  padding: 130px 65px 130px 95px;
  margin-bottom: 80px;
  @media screen and (max-width: 1024px) {
    @include flex(space-between, stretch, column);
    padding: 63px 197px 63px 120px;
  }
  @media screen and (max-width: 768px) {
    @include flex(space-between, stretch, column);
    padding: 63px 50px 63px 66px;
  }
  @media screen and (max-width: 480px) {
    padding: 40px 43px 31px 20px;
  }
  &__title {
    font-family: "TitilliumWebBold", serif;
    font-size: 40px;
    line-height: 1.3;
    color: $black;
    span {
      font-family: "TitilliumWebRegular", serif;
    }
    @media screen and (max-width: 480px) {
      font-size: 24px;
      margin-bottom: 147px;
    }
  }
  &__description {
    font-family: "TitilliumWebSemiBold", serif;
    font-size: 24px;
    line-height: 1.58;
    width: 34.29%;
    @media screen and (max-width: 1024px) {
      width: auto;
    }
    @media screen and (max-width: 480px) {
      font-size: 18px;
    }
  }
}
