@import "help/vars_and_mixins";
.banner-slider {
    min-height: 400px;
    margin-bottom: 60px;
    @media screen and (max-width:1024px){
        margin-bottom: 40px;
    }
    &__item {
        position: relative;
        background-size: contain;
        width: 1439px;
        height: 600px!important;
        padding-top: 120px;
        display: flex!important;
        justify-content: center;
        align-items: flex-start;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media (max-width: 768px ) {
            padding-top: 95px;
        }
        @media screen and (max-width:600px) {
            padding-top: 25px;
        }
        .main-button {
            width: 183px;
            color: #ffffff;
            position: absolute;
            bottom: 11%;
            right: 13%;
            background: transparent;
            border: solid 2px #ffffff;
            color: #ffffff;
            img.black {
                display: none;
            }
            img.down {
                transform: rotate(90deg);
            }
            &__text {
                font-family: "TitilliumWebSemiBold",serif;
                font-size: 14px;
                padding-right: 41px;
            }
            @media screen and (max-width:480px) {
                display: none;
            }
        }
        .main-button:hover {
            background-color: #ffd84b;
            border: 2px solid #ffd84b;
            color: black;
            img.white{
                display: none;
            }
            img.black{
                display: block;
            }   
        }
        .main-button:focus {
            background-color: #ffd84b;
            border: 2px solid #ffd84b;
            outline: none;
        }
    }
    &__item_padding {
        padding-top: 180px;
        @media (max-width: 768px ) {
            padding-top: 180px;
        }
        @media screen and (max-width:600px) {
            padding-top: 180px;
        }
    }
    &__container {
        @include flex (flex-start, center, column);
        width: 46%;
        @media screen and (max-width:1300px) {
            width:57%;
        }
        @media screen and (max-width:1024px) {
            width:75%;
        }
        @media screen and (max-width:768px) {
            width:98%;
        }
    }
    &__title {
        font-family: "TitilliumWebBold",serif;
        font-size: 40px;
        font-weight: bold;
        line-height: 1.15;
        text-align: center;
        margin:0 0 20px;
        color: $white;
        @media screen and (max-width:480px) {
            font-size: 24px;
            line-height: 1.33;
        }
    }
    &__text {
        font-family: "TitilliumWebRegular",serif;
        text-align: center;
        font-size: 18px;
        line-height: 1.56;
        margin-bottom: 18px;
        color: $white;
   @media screen and (max-width:480px) {
            font-size: 14px;
            line-height: 1.71;
        }
    }
    &__img {
        height: 100%;
        width: 100%;
        @media (min-width:1600px) {
            width: 60%;
        }
    }
    .slick-prev,.slick-next {
        position: absolute;
        z-index: 1;
        bottom: 11%;
        width: 54px;
        height: 54px;
        border: solid 2px $verylightpink;
        border-radius: 50%; 
        background: transparent;
        background: url(../img/arrow-right-s-line.svg) no-repeat center;
    }
    .slick-prev:hover,.slick-next:hover {
        border: solid 2px $sunyellow;
        background: url(../img/arrow-right-s-line-hover.svg) no-repeat center;
        cursor: pointer;
    }
    .slick-prev {
        left: 10%;
        transform: rotate(180deg);
        @media screen and (min-width:1441px) {
            left: calc(50% - 1100px/2);  
        }
        @media screen and (max-width:1024px) {
            left: 5%;  
        }
    }
    .slick-next {
        left: 16%;
        @media screen and (min-width:1441px) {
            left: calc(54% - 1100px/2);  
        }
        @media screen and (max-width:1024px) {
           left: 14%; 
        }
        @media screen and (max-width:600px) {
           left: 17%; 
        }
    }   
}





