@import "help/vars_and_mixins";
.callback {
    background: url(../img/bitmap-home.jpg) no-repeat center/cover;
    margin-bottom: 80px;
    @media screen and (max-width:768px) {
        background: url(../img/bitmap-tablet.jpg) no-repeat center/cover;
    }
    @media screen and (max-width:480px) {
        background: url(../img/bitmap-mobile.jpg) no-repeat center/cover;
    }
}
.callback-block {
    @include flex (space-between, start, column);
    padding: 130px 0;
    &__text {
        font-family: "TitilliumWebBold",serif;
        font-size: 40px;
        line-height: 1.3;
        color: #ffffff;
        margin-bottom: 81px;
        width: 55%;
        @media screen and (max-width:1024px) {
            width: 80%;
        }
        @media screen and (max-width:480px) {
            width: 100%;
            font-size: 24px;
        }
    }
    .main-button {
        @media (max-width: 480px) {
            margin: 0 auto;
        }
    }
}