@import "help/vars_and_mixins";
.cards {
    .main-block {
        @include flex(space-between,center,row);
        margin-bottom: 60px;
        @media screen and (max-width:480px) {
            flex-direction:column;
        }
        &__title {
            font-family: "TitilliumWebBold",serif;
            font-size: 40px;
            line-height: 1.3;
            width: 47.68%;
            @media screen and (max-width:480px) {
                width: 90%;
            }          
        }
        &__description {
            font-family: "TitilliumWebSemiBold",serif;
            font-size: 18px;
            line-height: 1.56;
            width: 47.68%;
            @media screen and (max-width:480px) {
                width: 90%;
            }              
        }
    }
    
    .cards-block {
        @include flex(space-between,stretch,row);
        margin-bottom: 120px;
        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
        }
        @media screen and (max-width: 480px) {
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 20px;
        }
        &__item {
            position: relative;
            padding: 28px 0 0;
            border-radius: 18px;
            background-color: $sunyellow;
            width: 23%;
            height: 350px;
            transition: all 0.6s linear;
            @media screen and (max-width: 768px) {
                width: 47.68%;
                margin-bottom: 30px;
            }
            @media screen and (max-width: 480px) {
                width: 80%;
                margin-bottom: 20px;
            }
        }
        &__item:hover {
            cursor: pointer;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            .cards-block__img{
                display: none;
            }
            .cards-block__title{
                height: auto;
                margin-bottom: 14px;
            }
            .cards-block__text{
                display: block;
                margin-bottom: 16px;
                overflow-y: auto;
            }
            .cards-block__button {
                display: block;
                margin-top: auto;
            }
        }
        &__title {
            font-family: "TitilliumWebBold",serif;
            overflow: hidden;
            height: 26%;
            font-size: 24px;
            line-height: 1.17;
            padding: 0 13px;
        }
        &__text {
            display: none;
            font-family: "TitilliumWebRegular",serif;
            font-size: 14px;
            line-height: 1.71;
            height: 50%;
            padding: 0 13px;
        }
        &__text::-webkit-scrollbar {
            width: 5px;
            background-color: #dcdcdc;
        }
        &__text::-webkit-scrollbar-thumb {
            background-color: $sunyellow;
        }
        &__img {
            height: 74%;

            display: flex;
            align-items: flex-end;
            img {
                width: 100%;
                max-height:281px;
            }
        }
        &__button {
            display: none;
            background-color:$sunyellow;
            font-family: "TitilliumWebSemiBold",serif;
            font-size: 14px;
            color: black;
            height: 60px;
            padding: 19px 24px;
            border-bottom-left-radius: 18px;
            border-bottom-right-radius: 18px;
        }
        &__arrow {
            position: absolute;
            bottom: 24px;
            right: 24px;
        }
    }  
}
 