@import "help/vars_and_mixins";

main {
  padding-top: 100px;
  font-family: "TitilliumWebRegular", sans-sans-serif;
}

.banner {
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-title {
    margin: 0;
    margin-bottom: 10px;
    font-family: "TitilliumWebBold", sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.15;
    text-align: center;
    color: #ffffff;
    @media screen and (max-width: 320px) {
      font-size: 24px;
      line-height: 46px;
    }
  }
}

.full-info {
  .list-item {
    font-family: TitilliumWebRegular,sans-serif;
  }
  padding: 60px 0;
  @media screen and (max-width: 320px) {
    padding-bottom: 10px;
  }
  .wrapper {
    max-width: 730px;
  }
  .text {
    font-family: TitilliumWebRegular,sans-serif;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;
    text-align: left;
    color: $black;
    &-main {
      font-family: TitilliumWebRegular,sans-serif;
    }
    &-main {
      font-size: 16px;
      line-height: 32px;
      font-weight: normal;
      text-align: left;
      color: $black;
      @media screen and (max-width: 320px) {
        font-size: 14px;
        line-height: 24px;
      }
    }
    @media screen and (max-width: 320px) {
      font-size: 14px;
      line-height: 24px;
    }
  }
  .no-agencies {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "TitilliumWebBold", sans-serif;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    color: $black;
    @media screen and (max-width: 320px) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  .list {
    padding-left: 34px;
    @media screen and (max-width: 320px) {
      padding-left: 24px;
    }
    &-item {
      list-style: disc;
      font-size: 16px;
      line-height: 32px;
      font-weight: normal;
      text-align: left;
      color: $black;
      @media screen and (max-width: 320px) {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
  .apply {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 600px) {
      flex-direction: column;
      align-items: start;
      .works-card-btn {
        align-self: center;
      }
    }
    @media screen and (max-width: 320px) {
      .works-card-btn {
        margin-top: 30px;
        max-width: 150px;
      }
    }
  }
}

.similar-positions {
  .wrapper:nth-child(2) {
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  padding: 60px 0;
  background-color: #f2f3f4;
  &-title {
    font-family: "TitilliumWebBold", sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 52px;
    text-align: center;
    color: $black;
  }
  &-subtitle {
    font-family: "TitilliumWebSemiBold", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    color: $black;
    padding-bottom: 60px;
  }
  &-slider {
    position: relative;
    padding-bottom: 94px;
    &-item {
      padding: 30px 20px 20px 40px;
      max-width: 350px;
      @media screen and (max-width: 320px) {
        max-width: 290px;
      }
      margin: 0 20px;
      height: auto;
      border-radius: 18px;
      background-color: #ffffff;
      &-title {
        font-family: "TitilliumWebSemiBold", sans-serif;
        font-size: 24px;
        font-weight: bold;
        line-height: 38px;
        text-align: left;
        color: $black;
        padding-bottom: 20px;
      }
      &-text {
        font-family: "TitilliumWebRegular", sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 32px;
        text-align: left;
        color: $black;
      }
      .works-card-btn {
        margin-top: 30px;
      }
    }
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 54px;
    height: 54px;
    border: solid 2px $verylightpink;
    border-radius: 50%;
    background: transparent;
    background: url(../img/arrow-right-s-line.svg) no-repeat center;
  }
  .slick-prev:hover,
  .slick-next:hover {
    border: solid 2px $sunyellow;
    background: url(../img/arrow-right-s-line-hover.svg) no-repeat center;
    cursor: pointer;
  }
  .slick-prev {
    right: 67px;
    transform: rotate(180deg);
  }
  .slick-next {
    right: 0;
  }
}

.careers-position-page {
  .popup-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition-property: opacity;
    transition-duration: 2s;
    top: 0;
    bottom: 0;
    display: none;
  }
  .popup {
    position: absolute;
    opacity: 1;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    transition-property: opacity;
    transition-duration: 2s;
    transform: translate(-50%,-50%);
    -webkit-animation: 1s ease-out 0s popup;
    animation: 1s ease-out 0s popup;
    right: 0;
    background-color: #282828;
    @media (max-width:480px) {
        width: 300px;
    }
  }
  .popup p {
    @media (max-width:480px) {
      font-size: 18px;
    }
  }
}