@import "help/vars_and_mixins";

.careers-page {
  padding-top: 100px;
}

.top-block {
  width: 100%;
  // height: 320px;
  background: linear-gradient(to right, $sunyellow 0%, #d2e9ff 100%);

  padding: 80px 0 80px 0;
  @media screen and (max-width:480px) {
    padding: 80px 0 38px 0;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &-title {
    font-family: TitilliumWebBold;
    font-size: 40px;
    line-height: 40px;
    color: $black;
    text-align: center;
    @media screen and (max-width:480px) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  &-subtitle {
    max-width: 600px;
    font-family: TitilliumWebSemiBold;
    font-size: 18px;
    line-height: 28px;
    color: $black;
    text-align: center;
    display: block;
    
  }
}

.team {
  width: 100%;
  overflow: hidden;
  background-color: $black;
  
  // height: 450px;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  
  .container {
    width: 50.0%;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media screen and (max-width: 768px) {
      width: 100%;
      padding-right: 0px;
      align-items: center;
    }
    
    
    padding-left: 10%;
    @media screen and (min-width:1441px) {
      padding-left: calc((100vw - 1100px)/2);
    }
    @media screen and (max-width:1024px) {
      padding-left: 5%;
    }
    @media screen and (max-width: 480px) {
      padding-right: 5%;
    }
  }
  &-text {
    max-width: 445px;
    padding-top: 110px;
    font-family: TitilliumWebSemiBold;
    font-size: 24px;
    line-height: 38px;
    color: $white;
    padding-bottom: 20px;
    @media screen and (max-width: 480px) {
      padding-top: 60px;
      font-size: 18px;
      line-height: 28px;
    }
  }
  &-subtext {
    max-width: 445px;
    padding-bottom: 110px;
    font-family: TitilliumWebRegular;
    font-size: 16px;
    line-height: 32px;
    color: $white;
    @media screen and (max-width: 480px) {
      padding-bottom: 45px;
      font-size: 14px;
      line-height: 24px;
    }
  }
  &-careers-video {
    height: 100%;
    height: auto;
    object-fit: cover;
  }
}

.advantages {
  height: auto;
  padding-top: 50px;
  padding-bottom: 30px;
  @media screen and (max-width: 534px) {
    padding-top: 30px;  
  }
  .empty {
    margin: 0;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-card { 
    margin: 30px 0px 30px 0px;
    width: 26.3%;
    height: auto;
    @media screen and (max-width: 800px) {
      // margin: 40px 0px 10px 0px;
      width: 45%;  
    }
    @media screen and (max-width: 534px) {
      margin: 10px 0px 10px 0px;
      width: 100%;  
    }
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &-img {
      margin-bottom: 10px;
    }
    &-title {
      font-family: TitilliumWebSemiBold;
      font-size: 18px;
      line-height: 28px;
      color: $black;
      margin-bottom: 10px;
    }
    &-text {
      font-family: TitilliumWebRegular;
      font-size: 14px;
      line-height: 24px;
      color: $black;
      width: 100%;
      height: auto;
    }
  }
}

.location-section {
  // min-height: 370px;
  background-image: url(../img/careers-location.png), linear-gradient(to right, $sunyellow 0%, #d2e9ff 100%);
  background-repeat: no-repeat;
  background-position: bottom center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
  // .wrapper {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  //   align-items: center;
  //   @media screen and (max-width: 768px) {
  //     flex-direction: column;
  //     align-items: flex-start;
  //   }
  // }
  padding-left: 10%;
  padding-right: 10%;
  @media screen and (min-width:1441px) {
    padding-left: calc((100vw - 1100px)/2);
    padding-right: calc((100vw - 1100px)/2);
  }
  @media screen and (max-width:1024px) {
    padding-right: 5%;
    padding-left: 5%;
  }
  @media screen and (max-width: 480px) {
    padding-left: 5%;
    padding-right: 5%;
  }
  &-title {

    max-width: 40%;

    // padding-left: 30px;
    font-family: TitilliumWebBold;
    font-size: 40px;
    line-height: 52px;
    color: $black;
    @media screen and (max-width: 480px) {
      font-size: 24px;
      line-height: 32px;
    }
    @media screen and (max-width: 768px) {
      padding-left: 0px;
      width: 100%;
      padding-bottom: 20px;
      max-width: 100%;
    }
  }
  &-text {

    max-width: 40%;
    font-family: TitilliumWebSemiBold;
    font-size: 24px;
    line-height: 38px;
    color: $black;
    @media screen and (max-width: 480px) {
      font-size: 18px;
      line-height: 28px;
    }
    @media screen and (max-width: 768px) {
      max-width: 445px;
    }
  }
}

.table {
  
  column-count: 2;
  column-gap: 0;
  * {
    width: 100%;

  }
  &-img {
    &-castle, &-office, &-people {
      background-color: #282828;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &-castle {
      min-height: 471px;
      @media screen and (max-width: 960px) {
        order: 1;
      }
    }
    &-office {
      min-height: 488px;
      @media screen and (max-width: 960px) {
        order: 5;
      }
    }
    &-people {
      min-height: 488px;
      @media screen and (max-width: 960px) {
        order: 3;
      }
    }
  }
  .best {
    height: 387px;
    // @media screen and (max-width: 990px) {
    //   height: 312px;
    // }
    @media screen and (max-width: 960px) {
      height: auto;
      order: 2;
    }
    background-color: $black;
    &-text {
      padding-top: 105px;
      padding-bottom: 90px;
      @media screen and (max-width: 990px) {
        padding: 60px 0;
      }
    }
  }
  .sparking {
    height: 325px;
    @media screen and (max-width: 960px) {
      height: auto;
      order: 4;
    }
    background-color: $black;
    &-text {
      padding-top: 60px;
      padding-bottom: 40px;
      @media screen and (max-width: 990px) {
        padding: 60px 0;
      }
    }
  }
  .office {
    @media screen and (max-width: 960px) {
      order: 6;
    }
    min-height: 408px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 960px) {


        align-items: center !important;
    }
  }
  &-container-bg {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &-text-light {
    font-family: TitilliumWebRegular;
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
    max-width: 445px;
  }
  &-text-dark {
    font-family: TitilliumWebRegular;
    font-size: 16px;
    line-height: 32px;
    color: $black;
    max-width: 445px;
    padding-bottom: 20px;

  }
  &-text-bg {
    font-family: TitilliumWebSemiBold;
    font-size: 24px;
    line-height: 38px;
    color: #ffffff;
    max-width: 445px;
    padding-bottom: 30px;
  }
  .title {
    font-family: TitilliumWebBold;
    font-size: 40px;
    line-height: 52px;
    color: $black;
    padding: 20px 0;
  }
  .column-left {
    padding-left: 20%;
    padding-right: 30px;
    @media screen and (min-width:1441px) {
      padding-left: calc((100vw - 1100px)/2);
    }
    @media screen and (max-width: 960px) {
      padding-right: 10%;
      padding-left: 10%;
    }
    @media screen and (max-width:1024px) {
      padding-left: 10%;
    }
    @media screen and (max-width: 480px) {
      padding-left: 5%;
    }
    display: flex;
    justify-content: flex-start;
    @media screen and (max-width: 960px) {
      justify-content: center;
      align-items: flex-end;
    }
  }
  .column-right {
    padding-right: 20%;
    padding-left: 30px;
    @media screen and (max-width: 960px) {
      padding-right: 10%;
      padding-left: 10%;
    }
    @media screen and (min-width:1441px) {
      padding-right: calc((100vw - 1100px)/2);
    }
    @media screen and (max-width:1024px) {
      padding-right: 10%;
    }
    @media screen and (max-width: 480px) {
      padding-right: 5%;
    }
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: 960px) {
      justify-content: center;
      align-items: flex-end;
      .office {
        align-items: center;
      }
    }
  }
  @media screen and (max-width: 960px) {
    display: flex;
    flex-direction: column;
  }
  
}

.work {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  // overflow: hidden;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  &-text {
    &-container {
      @media screen and (max-width: 480px) {
        padding-left: 5%;
      }
    }
    &-img {
      position: absolute;
      top: 0;
      left: 0;
      height: 150%;
      width: auto;
      z-index: 0;
      @media screen and (max-width: 840px) {
        height: 100%;
      }
    }
    width: 50%;
    height: auto;
    background-color: $sunyellow;
    padding-right: 30px;
    padding-top: 66px;
    padding-bottom: 66px;
    @media screen and (max-width: 768px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-right: 0px;
    }
    &-title {
      padding-left: 20%;
      @media screen and (min-width:1441px) {
        padding-left: calc((100vw - 1100px)/2);
      }
      @media screen and (max-width:1024px) {
        padding-left: 10%;
      }
      position: relative;
      text-align: left;
      font-family: TitilliumWebSemiBold;
      font-size: 40px;
      line-height: 52px;
      color: $black;
      padding-bottom: 10px;
      @media screen and (max-width: 768px) {
        text-align: left;
        padding-left: 0;
      }
    }
    &-subtitle {
      @media screen and (max-width: 768px) {
        max-width: 445px;
      }
      position: relative;
      padding-left: 20%;
      @media screen and (min-width:1441px) {
        padding-left: calc((100vw - 1100px)/2);
      }
      @media screen and (max-width:1024px) {
        padding-left: 10%;
      }
      font-family: TitilliumWebSemiBold;
      font-size: 18px;
      line-height: 28px;
      color: $black;
      text-align: left;
      @media screen and (max-width: 768px) {
        // text-align: left;
        padding-left: 0;
      }
    }
  }
  &-search {
    @media screen and (max-width: 768px) {
      padding: 30px 0;
    }
    &-container {
      max-width: 445px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      @media screen and (max-width: 768px) {
        width: 100%;
        justify-content: space-between;
      }
      @media screen and (max-width: 480px) {
        flex-direction: column;
        padding-bottom: 30px;
        padding-top: 10px;
        align-items: flex-start;
      }
      @media screen and (max-width: 480px) {
        padding-left: 5%;
      }
    }
    padding-left: 30px;
    position: relative;
    padding-right: 10%;
    @media screen and (min-width:1441px) {
      padding-right: calc((100vw - 1100px)/2);
    }
    @media screen and (max-width:1024px) {
      padding-right: 5%;
    }
    .case-filter-block__list {
      min-width: 120px;
    }
    .case-filter-block__item {
      padding-right: 0;
      margin-right: 0;
    }
    .search-form {
      @media screen and (max-width: 900px) and (min-width:768px) {
        width: 200px;
      }
    }
    width: 50%;
    height: auto;
    background-color: $black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    @media screen and (max-width: 768px) {
      width: 100%;
      justify-content: center;
    }
    @media screen and (max-width: 480px) {
      flex-direction: column;
      padding-bottom: 30px;
      padding-top: 10px;
      align-items: flex-start;
    }
  }
}

.works {
  padding-top: 30px;
  background-color: #fff;
  position: relative;
  @media screen and (max-width: 480px) {
    padding-top: 0px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-card {
    padding-top: 30px;
    max-width: 730px;
    border-bottom: 1px solid $sunyellow;
    &-title {
      font-family: TitilliumWebSemiBold, serif;
      font-size: 24px;
      line-height: 38px;
      color: $black;
      text-align: left;
    }
    &-info {
      font-family: TitilliumWebRegular, serif;
      font-size: 16px;
      line-height: 32px;
      color: $black;
      text-align: left;
    }
    &-btn {
      margin-top: 20px;
      margin-bottom: 30px;
    }
    &:nth-last-child(1) {
      border: none;
    }
  }
  
}



.cv {
  &-bottom {
    background: linear-gradient(to right, $sunyellow 30%, #d2e9ff 100%);
    padding: 55px 0;
    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        // justify-content: space-between;
        justify-content: flex-start;
      }
    }
    &-text {
      z-index: 1;
      max-width: 445px;
      font-family: TitilliumWebSemiBold;
      font-size: 24px;
      line-height: 38px;
      color: $black;
      a {
        color: $black;
      }
      @media screen and (max-width: 768px) {
        font-size: 18px;
        line-height: 28px;
      }
    }
    &-text:nth-child(1) {
      padding-right: 15px;
      @media screen and (max-width: 768px) {
        padding-right: 0px;
      }
    }
    &-text:nth-child(2) {
      padding-left: 15px;
      @media screen and (max-width: 768px) {
        padding-top: 20px;
        padding-left: 0px;
      }
    }
  }
} 

.benefits {
  background-color: #f2f3f4;
  padding-bottom: 20px;
  padding-top: 60px;
  height: auto;
  position: relative;
  .wrapper-title, .wrapper-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 100%;
  }
  &-title {
    position: relative;
    z-index: 1;
    text-align: center;
    font-family: TitilliumWebSemiBold;
    font-size: 40px;
    line-height: 52px;
    color: $black;
    padding-bottom: 10px;
  }
  &-bg-img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    @media screen and (max-width: 900px) {
      height: 400px;
    }
    
    width: auto;
    z-index: 0;
  }
  .wrapper-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .empty {
    margin: 0;
  }
  &-card { 
    margin: 45px 0px 35px 0px;
    width: 26.3%;
    height: auto;
    @media screen and (max-width: 800px) {
      // margin: 40px 0px 10px 0px;
      width: 45%;  
    }
    @media screen and (max-width: 534px) {
      // margin: 20px 0px 0px 0px;
      width: 100%;  
    }
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &-img {
      margin-right: 20px;
      // min-width: 41px;
      min-height: 41px;
      z-index: 1;
    }
    &-text {
      position: relative;
      z-index: 1;
      font-family: TitilliumWebSemiBold;
      font-size: 18px;
      line-height: 28px;
      color: $black;
    }
  }
  &-text {
    position: relative;
    z-index: 1;
    padding-top: 25px;
    font-family: TitilliumWebSemiBold;
    font-size: 18px;
    line-height: 28px;
    color: #c8cbce;
  }
}




// padding-left: 10%;
// @media screen and (min-width:1441px) {
//   padding-left: calc((100vw - 1100px)/2);
// }
// @media screen and (max-width:1024px) {
//   padding-left: 5%;
// }