@import "help/vars_and_mixins";
.casecards {
  .join {
    position: relative;
    @include flex(start, center, row);
    > a {
      position: relative;
      @include flex(start, center, row);
    }
    margin-bottom: 120px !important;
    hr {
      width: 100%;
      position: absolute;
      bottom: -61px;
      left: 0;
      background: #dcdcdc;
    }
    .join__img {
      position: relative;
      width: 41.5%;
      height: 300px;
      img {
        object-fit: cover;
        border-radius: 20px;
      }
      .news-slider__block-categories {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s linear;
        position: absolute;
        top: 85%;
        left: 5%;
        @media screen and (max-width: 768px) {
          top: 80%;
        }
        @media screen and (max-width: 480px) {
          top: 80%;
          left: 0;
        }
      }
      .news-slider__categories {
        user-select: none;
      }
      @media screen and (max-width: 1024px) {
        // width: 46%;
        width: 100%;
        margin-bottom: 40px;
      }
      @media screen and (max-width: 480px) {
        display: unset;
        width: 100%;
      }
    }
    .join__img:hover {
      .news-slider__block-categories {
        visibility: visible;
        opacity: 1;
      }
    }
    .join-block {
      margin: 0 auto;
      flex: unset;
      width: 38.58%;
      padding-right: 2px;
      @media screen and (max-width: 1024px) {
        // width: 49%;
        width: 100%;
        padding-right: 0;
      }
      @media screen and (max-width: 480px) {
        width: 100%;
        padding: 0;
      }
      &__title {
        font-family: "TitilliumWebBold", serif;
        font-size: 24px;
        line-height: 1.33;
        margin-bottom: 20px;
        span {
          font-family: "TitilliumWebRegular", serif;
        }
      }

      &__text {
        font-family: "TitilliumWebRegular", serif;
        font-size: 16px;
        line-height: 1.75;
        margin-bottom: unset;
        @media screen and (max-width: 480px) {
          margin-bottom: 20px;
        }
      }
    }
    a {
      color: inherit;
    }
    @media screen and (max-width: 480px) {
      .join__img {
        margin-bottom: 30px;
      }
      .join-block__title {
        font-family: "TitilliumWebSemiBold", serif;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
      }
      .join-block__text {
        font-size: 14px;
        margin-bottom: unset;
      }
    }
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      margin-bottom: 80px !important;
      hr {
        bottom: -40px;
      }
      .join-block__text {
        font-size: 17px;
      }
    }
  }
  .loader {
    padding-top: 30px !important;
    margin-bottom: 100px !important;
    #preloader {
      height: 30px;
      width: 30px;
      //   margin: 40vh auto;
      margin: 0 auto;
      border: 5px solid rgba(255, 209, 45, 0.45);
      border-top: 5px solid rgb(255, 209, 45);
      border-radius: 50%;
      animation: rotate 1s infinite linear;
    }
    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .casecards-wrap {
      .wrapper {
        width: 60.5%;
      }
    }
  }
  @media screen and (max-width: 480px) {
    .casecards-wrap {
      .wrapper {
        width: 90.6%;
      }
    }
  }
}

.casecards-slider {
  min-height: 400px;
  &__item {
    position: relative;
    width: 1439px;
    height: 100%;
    padding: 254px 354px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (max-width: 1200px) {
      padding: 254px 39px;
    }
    @media (max-width: 480px) {
      padding: 200px 15px;
    }
    .main-button {
      position: absolute;
      bottom: 11%;
      right: 10%;
      background: transparent;
      border: solid 2px #ffffff;
      color: #ffffff;
      width: 170px;
      padding: 17px 14px;
      img.black {
        display: none;
      }
      @media (max-width: 1024px) {
        right: 5%;
      }
      @media (max-width: 480px) {
        right: auto;
      }
    }
    .main-button:hover {
      background-color: #ffd84b;
      border: 2px solid #ffd84b;
      color: black;
      img.white {
        display: none;
      }
      img.black {
        display: block;
      }
    }
    .main-button:focus {
      background-color: #ffd84b;
      border: 2px solid #ffd84b;
      outline: none;
    }
  }
  &__title {
    font-family: "TitilliumWebBold", serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.15;
    text-align: center;
    color: $white;
    @media screen and (max-width: 480px) {
      font-size: 24px;
      line-height: 1.33;
    }
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    z-index: 1;
    bottom: 11%;
    width: 54px;
    height: 54px;
    border: solid 2px $verylightpink;
    border-radius: 50%;
    background: transparent;
    background: url(../img/arrow-right-s-line.svg) no-repeat center;
  }
  .slick-prev:hover,
  .slick-next:hover {
    border: solid 2px $sunyellow;
    background: url(../img/arrow-right-s-line-hover.svg) no-repeat center;
    cursor: pointer;
  }
  .slick-prev {
    left: 10%;
    transform: rotate(180deg);
    @media screen and (max-width: 1024px) {
      left: 3%;
    }
  }
  .slick-next {
    left: 15%;
    @media screen and (max-width: 1024px) {
      left: 14%;
    }
  }
}

.case-filter {
  min-height: 140px;
  background-color: $black;
  margin-bottom: 40px;
  @include flex(center, center, row);
  @media (max-width: 768px) {
    padding: 39px 0;
  }
}

.case-filter-block {
  @include flex(space-between, center, row);
  @media (max-width: 768px) {
    @include flex(space-between, flex-start, column);
  }
  &__title {
    font-family: "TitilliumWebBold", serif;
    font-size: 24px;
    line-height: 1.33;
    color: #fff;
    margin-right: 69px;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__tabs {
    @include flex(space-between, center, row);
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
    @media (max-width: 480px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__item {
    cursor: pointer;
    font-family: "TitilliumWebSemiBold", serif;
    line-height: 1.5;
    font-size: 16px;
    color: $browngrey;
    padding: 11px;
    margin-right: 18px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    @media (max-width: 600px) {
      margin-right: 5px;
    }
    @media (max-width: 480px) {
      margin-bottom: 15px;
    }
  }
  &__list {
    font-family: "TitilliumWebRegular", serif;
    font-size: 14px;
    line-height: 1.71;
    color: #fff;
    position: relative;
    margin-top: 5px;
    img {
      position: absolute;
      left: -15px;
      top: 9px;
    }
  }
  .search-form {
    margin-left: auto;
    @media (max-width: 768px) {
      margin-left: 0;
    }
  }
}

.casecards-slider {
  min-height: 400px;
  &__item {
      position: relative;
      width: 1439px;
      height: 100%;
      padding: 254px 354px;
      display: flex!important;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      @media (max-width:1200px) {
          padding: 254px 39px;
      }
      @media (max-width:480px) {
          padding: 200px 15px;
      }
      .main-button {
          position: absolute;
          bottom: 11%;
          right: 10%;
          background: transparent;
          border: solid 2px #ffffff;
          color: #ffffff;
          width: 170px;
          padding: 17px 14px;
          img.black {
              display: none;
          }
          @media (max-width:1024px) {
              right: 5%;
          }
          @media (max-width:480px) {
              right:auto;
          }
      }
      .main-button:hover {
          background-color: #ffd84b;
          border: 2px solid #ffd84b;
          color: black;
          img.white{
              display: none;
          }
          img.black{
              display: block;
          }   
      }
      .main-button:focus {
          background-color: #ffd84b;
          border: 2px solid #ffd84b;
          outline: none;
      }
  }
  &__title {
      font-family: "TitilliumWebBold",serif;
      font-size: 40px;
      font-weight: bold;
      line-height: 1.15;
      text-align: center;
      color: $white;
      @media screen and (max-width:480px) {
          font-size: 24px;
          line-height: 1.33;
      }
  }
  .slick-prev,.slick-next {
      position: absolute;
      z-index: 1;
      bottom: 11%;
      width: 54px;
      height: 54px;
      border: solid 2px $verylightpink;
      border-radius: 50%; 
      background: transparent;
      background: url(../img/arrow-right-s-line.svg) no-repeat center;
  }
  .slick-prev:hover,.slick-next:hover {
      border: solid 2px $sunyellow;
      background: url(../img/arrow-right-s-line-hover.svg) no-repeat center;
      cursor: pointer;
  }
  .slick-prev {
      left: 10%;
      transform: rotate(180deg);
      @media screen and (max-width:1024px) {
          left: 3%;  
      }

  }
  .slick-next {
      left: 15%;
      @media screen and (max-width:1024px) {
         left: 14%; 
      }
  }   
}

.case-filter {
  min-height: 140px; 
  background-color: $black;
  margin-bottom: 40px;
  @include flex(center,center,row);
  @media (max-width:768px) {
    padding: 39px 0;
  }
}

.case-filter-block {
  @include flex(space-between,center,row);
  @media (max-width:768px) {
    @include flex(space-between, flex-start,column);
  }
  &__title {
      font-family: "TitilliumWebBold",serif;
      font-size: 24px;
      line-height: 1.33;
      color: #fff;
      margin-right: 69px;
      @media (max-width:768px) {
        display: none;
      }
  }
  &__tabs {
      @include flex(space-between,center,row);
      @media (max-width:768px) {
        margin-bottom: 30px;
      }
      @media (max-width:480px) {
        flex-direction: column;
        align-items: flex-start;
      }
  }
  &__item {
      cursor: pointer;
      font-family: "TitilliumWebSemiBold",serif;
      line-height: 1.5;
      font-size: 16px;
      color:$browngrey;
      padding: 11px;
      margin-right: 18px;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      @media (max-width:600px) {
          margin-right: 5px;
      }
      @media (max-width:480px) {
          margin-bottom: 15px;
      }
  }
  &__list {
      font-family: "TitilliumWebRegular",serif;
      font-size: 14px;
      line-height: 1.71;
      color: #fff;
      position: relative;
      margin-top: 5px;
      img {
          position: absolute;
          left: -15px;
          top: 9px;
      }
  }
  .search-form {
      margin-left: auto;
      @media (max-width:768px) {
        margin-left: 0;
      }
  }
}