@import "help/vars_and_mixins";
hr {
  color: #dcdcdc;
}
.casecards {
  background: none;padding-top: 100px;
  .class-for-slider-without-content{
    width: 80%;
    margin: 0 auto;
    justify-content: flex-end;
  }
  .join {
    position: relative;
    @include flex(flex-start, center, row);
    > a {
      position: relative;
      @include flex(start, center, row);
    }
    margin-bottom: 81px !important;
    hr {
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -40px;
      left: 0;
      border: 0;
      background: #dcdcdc;
      color: #dcdcdc;
    }
    .join__img {
      position: relative;
      width: 41.5%;
      height: 300px;
      img {
        object-fit: cover;
        border-radius: 20px;
      }
      .news-slider__block-categories {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s linear;
        position: absolute;
        top: 85%;
        left: 5%;
        @media screen and (max-width: 768px) {
          top: 80%;
        }
        @media screen and (max-width: 480px) {
          top: 73%;
          left: 0;
        }
      }
      .news-slider__categories {
        user-select: none;
        margin-bottom: 8px;
      }
      @media screen and (max-width: 1024px) {
        width: 100%;
        margin-bottom: 30px;
      }
      @media screen and (max-width: 480px) {
        display: unset;
        width: 100%;
      }
    }
    .join__img:hover {
      .news-slider__block-categories {
        visibility: visible;
        opacity: 1;
      }
    }
    .join-block {
      flex: unset;
      width: 38.58%;
      margin: 0 auto;
      padding-right: 2px;
      @media screen and (max-width: 1024px) {
        width: 100%;
        padding-right: 0;
      }
      @media screen and (max-width: 480px) {
        width: 100%;
        padding: 0;
      }
      &__title {
        font-family: "TitilliumWebBold", sans-serif;
        cursor: pointer;
        font-size: 24px;
        line-height: 1.33;
        margin-bottom: 20px;
        width: 100%;
        text-transform: lowercase;
        span {
          font-family: "TitilliumWebRegular", sans-serif;
        }
      }
      &__title::first-letter {
        text-transform: uppercase;
      }
      &__text {
        font-family: "TitilliumWebRegular", sans-serif;
        font-size: 16px;
        line-height: 1.75;
        margin-bottom: unset;
        max-height: 253px;
        @media screen and (max-width: 480px) {
          margin-bottom: 20px;
        }
      }
    }
    a {
      color: inherit;
    }
    @media screen and (max-width: 480px) {
      .join__img {
        margin-bottom: 20px;
      }
      .join-block__title {
        font-family: "TitilliumWebSemiBold", sans-serif;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
      }
      .join-block__text {
        font-size: 14px;
        margin-bottom: unset;
      }
    }
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      margin-bottom: 80px !important;
      hr {
        bottom: -40px;
      }
      .join-block__text {
        font-size: 17px;
      }
    }
  }
  .join-item {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1110px;
    @media screen and (max-width: 1440px) {
      max-width: 80%;
    }
    @media screen and (max-width: 1024px) {
      max-height: initial;
    }
  }
  .loader {
    padding-top: 30px !important;
    margin-bottom: 100px !important;
    #preloader {
      height: 30px;
      width: 30px;
      margin: 0 auto;
      border: 5px solid rgba(255, 209, 45, 0.45);
      border-top: 5px solid rgb(255, 209, 45);
      border-radius: 50%;
      animation: rotate 1s infinite linear;
    }
    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  .hr-for-tablet {
    display: none;
  }
  @media screen and (max-width: 1024px) {
    .casecards-wrap {
      .wrapper {
        width: 61.9%;
        margin-bottom: 5px !important;
        hr {
          display: none;
        }
      }
      hr.hr-for-tablet {
        display: block;
        margin: 40px auto;
        width: 90%;
        height: 1px;
        border: 0;
        background: #dcdcdc;
        color: #dcdcdc;
      }
    }
  }
  @media screen and (max-width: 480px) {
    .casecards-wrap {
      .join-item {
        max-width: initial;
      }
      .wrapper {
        width: 90.6%;
      }
      hr {
        display: none;
      }
    }
  }
}
.case-filter {
  min-height: 140px;
  background-color: $black;
  margin-bottom: 40px;
  padding: 75px 0;
  @include flex(center, center, row);
  @media (max-width: 768px) {
    padding: 39px 0;
  }
  @media (max-width: 480px) {
    padding-top: 9px;
    padding-bottom: 20px;
  }
}

.case-filter-block {
  @include flex(space-between, flex-start, row);
  @media screen and(min-width:1024px) {
    width: 80%;
    max-width: 1110px;
    margin: 0;
  }
  @media (max-width: 768px) {
    @include flex(space-between, flex-start, column);
  }

  &__title {
    font-family: "TitilliumWebBold", sans-serif;
    font-size: 24px;
    line-height: 1.33;
    color: #fff;
    margin-right: 10%;
    @media (max-width: 768px) {
      display: none;
    }
    @media (min-width: 700px) and (max-width: 1231px) {
      margin-right: 3%;
    }
  }
  &__tabs {
    width: 51.354%;
    @include flex(flex-start, flex-start, row);
    @media (max-width: 768px) {
      margin-bottom: 30px;
      width: 73%;
    }
    @media (max-width: 480px) {
      flex-direction: column;
      align-items: flex-start;
    }
    @media (min-width: 480px) and (max-width: 750px) {
      width: 100%;
    }
  }
  &__item {
    width: auto;
    position: relative;
    cursor: pointer;
    font-family: "TitilliumWebSemiBold", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #ffff;
    padding: 0 11px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    @media (max-width: 600px) {
      margin-right: 5px;
    }
    @media (max-width: 480px) {
      margin-bottom: 15px;
      padding: 11px;
      margin-right: 18px;
    }
    @media screen and(max-width:768px) {
      padding: 0 17px;
      margin-right: 18px;
    }
  }
  &__list {
    font-family: "TitilliumWebRegular", sans-serif;
    font-size: 14px;
    line-height: 1.71;
    color: #fff;
    position: relative;
    margin-top: 5px;
    img {
      position: absolute;
      left: -15px;
      top: 9px;
    }
  }
  &__list-insert {
    display: none;
    background-color: $black;
    position: absolute;
    padding: 10px 30px;
    z-index: 1;
    left: -18px;
  }
  &__item-insert {
    font-family: "TitilliumWebRegular", sans-serif;
    font-size: 14px;
    line-height: 1.71;
    color: #fff;
    margin-bottom: 10px;
  }
  &__item-insert:hover {
    color: $sunyellow;
  }
  .search-form {
    margin-left: auto;
    padding: 0 24px;
    @media (max-width: 768px) {
      margin-left: 0;
    }
  }
}
