@import "help/vars_and_mixins";

.company {
  margin-bottom: 101px !important;
  .main-block {
    @include flex(space-between, start, row);
    margin-bottom: 76px;
    @media screen and (max-width: 480px) {
      @include flex(space-between, stretch, column);
    }
    &__title {
      font-family: "TitilliumWebBold", serif;
      font-size: 40px;
      line-height: 1.15;
      width: 19%;
      margin: 0;
      @media screen and (max-width: 1024px) {
        width: 49%;
      }
      @media screen and (max-width: 480px) {
        width: 90%;
      }
    }
    &__inner {
      @include flex(space-between, start, row);
      width: 54%;
      @media screen and (max-width: 480px) {
        width: 90%;
      }
    }
    &__logo {
      position: absolute;
      width: 48px;
      height: 46px;
      img {
        width: 48px;
        height: 46px;
      }
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
    &__heading {
      font-family: "TitilliumWebSemiBold", serif;
      padding-bottom: 15px;
      padding-left: 80px;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.56;
      @media screen and (max-width: 1024px) {
        padding-left: 0;
      }
    }
    &__text {
      font-family: "TitilliumWebRegular", serif;
      font-size: 16px;
      line-height: 1.75;
      padding-left: 80px;
      @media screen and (max-width: 1024px) {
        padding-left: 0;
      }
    }
  }

  .switch-block {
    @include flex(start, center, row);
    margin-bottom: 40px;
    &__title {
      font-family: "TitilliumWebSemiBold", serif;
      padding-right: 30px;
      font-size: 18px;
      line-height: 1.56;
    }
    hr {
      width: 75%;
      @media screen and (max-width: 968px) {
        width: 70%;
      }
      @media screen and (max-width: 768px) {
        width: 55%;
      }
      @media screen and (max-width: 480px) {
        width: 35%;
      }
    }
  }

  .slider-block {
    @include flex(space-around, center, row);
    position: relative;
    &__item {
      height: 92px !important;
      display: flex !important;
      justify-content: center;
      align-items: center;
      margin: 0 7px;
      @media screen and (max-width: 768px) {
        margin: 0 10px;
      }
    }
    &__item:hover {
      cursor: pointer;
      border-radius: 18px;
      box-shadow: 0px 0px 0px 1px $sunflower;
    }
    &__item:focus {
      outline: none;
    }
    &__img {
      width: 100%;
      height: fit-content;
    }
    .slick-track {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .slick-list {
      margin: 0 10px !important;
      padding: 2px 0 !important;
      @media screen and (max-width: 480px) {
        margin: 0 !important;
      }
    }
    .slick-prev,
    .slick-next {
      cursor: pointer;
      position: absolute;
      top: -62px;
      width: 8px;
      height: 13px;
      background: url(../img/arrow-right-s-line.svg) no-repeat center;
    }
    .slick-prev {
      right: 0;
    }
    .slick-next {
      right: 3%;
      transform: rotate(180deg);
    }
    .slick-prev:hover,
    .slick-next:hover {
      background: url(../img/arrow-right-s-line-hover.svg) no-repeat center;
    }
  }
}
