@import "help/vars_and_mixins.scss";
footer {
    z-index: 2;
}
.footer {
    background-color: $black;
    padding:84px 0 74px;
    .wrapper {
        @include flex(space-between,stretch,row);
        @media screen and (max-width:600px) {
            @include flex(space-between,stretch,column);
        }
    }
    @media screen and (max-width:768px) {
        padding: 84px 0 50px;
    }
    @media screen and (max-width:480px) {
        padding: 36px 0 50px;
    }
}

.block {
    @include flex(space-between,stretch,column);
    width: 55%;
    @media screen and (max-width:768px) {
        width: 45%;
    }
    @media screen and (max-width:600px) {
        width: 100%;
    }
    &-info {
        @include flex(space-between,stretch,row);
        width: 100%;
        @media screen and (max-width:960px) {
            flex-wrap:wrap;
        }
        @media screen and (max-width:768px) {
            width: 100%;
        }
        @media screen and (max-width:600px) {
            width:100%;
            margin-bottom: 0;
        }
        &__item {
            @media screen and (max-width:960px) {
                width:49%;
            }
        } 
        &__title {
            font-family: "TitilliumWebSemiBold", serif;
            font-size: 16px;
            color: $greyishbrown;
            margin-bottom: 30px;
        } 
        &__link {
            display: block;
            font-family: "TitilliumWebSemiBold", serif;
            font-size: 14px;
            color: #ffffff;
            margin-bottom: 22px;
            cursor: pointer;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
        } 
    }
    &-link {
        @include flex(space-between,stretch,row);
        width: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        @media screen and (max-width:960px) {
            width:100%;
            margin-top: 20px;
            display: none;
        }
        @media screen and (max-width:540px) {
            flex-wrap: wrap;
        }
        &__logo{
            @media screen and (max-width:600px) {
                order:1;
                // margin-bottom: 50px;
                margin-bottom: 0;
            }
        }
        &__social{
            @include flex(center,stretch,row);
            @media screen and (max-width:600px) {
                margin-bottom: 40px;
                margin-left: 7px;
                justify-content: space-between;
            }  
        }
        &__items{
            @include flex(center,center,row);
            width: 54px;
            height: 54px;
            border: solid 2px $greyishbrown;
            border-radius: 50%;
            margin-right: 20px;
        }
    }
    &-link.none {
        display: none;
        @media screen and (max-width:960px) {
            display: flex;
        }  
        @media screen and (max-width:600px) {
            display: flex;
            flex-direction: column;
        }  
    }
    &-subscribe {
        &__address {
            @media screen and (max-width:600px) {
                margin-bottom: 40px;
            }
        }
        &__title {
            font-family: "TitilliumWebBold", serif;
            font-size: 24px;
            color: #ffffff;
            margin-bottom: 21px;
        }
        &__form {
            position: relative;
            width: 285px;
        }
        &__input {
            position: relative;
            width: 267px;
            background: transparent;
            border: 0px;
            border-bottom: 1px solid $greyishbrown;
            font-family: "TitilliumWebRegular", serif;
            font-size: 14px;
            line-height: 1.79;
            color: #ffffff;
            margin-bottom: 77px;
            padding: 14px;
        }
        &__arrow {
            position: absolute;
            width: 19px;
            height: 8px;
            top:23px;
            right: 0;
        }
        &__input:hover {
            border-bottom: 1px solid $verylightpink;
        }
        
        &__input:focus {
            outline: none;
        }
        &__submit {
            cursor: pointer;
            position: absolute;
            width: 19px;
            height: 8px;
            height: 54px;
            top: 0;
            right: 0;
            background: transparent;
            background-image: url(../img/arrow-up-right-black.svg);
            background-repeat: no-repeat;
            background-position: center;
            border: none;
            outline: none;
            border-bottom: 1px solid $greyishbrown;
        }
        &__items {
            font-family: "TitilliumWebRegular", serif;
            font-size: 14px;
            color: $verylightpink;
            margin-bottom: 26px;
            line-height: 2;
            span {
                color: $greyishbrown;
            }
        }
        &__items:last-child {
            margin-bottom: 0;
        }
        &__link {
            font-family: "TitilliumWebRegular", serif;
            color: $verylightpink;
        }
    }
}

.subfooter {
    background-color: #343434;
    font-family: "TitilliumWebSemiBold", serif;
    font-size: 12px;
    color: #929292;
    padding: 26px 0;
    .wrapper {
        @include flex(space-between,center,row);
        @media screen and (max-width:540px) {
            display:block;
        }
    }
    &__copyright {
        @media screen and (max-width:540px) {
            margin-bottom: 10px;
        }
    }
    &__links {
        color: #929292;
        margin-right: 20px;
        @media (max-width:480px) {
        margin-right: 13px;
        }
    }
}