@import "help/vars_and_mixins";

.banner-slider {
  padding-top: 100px;
  min-height: 400px;
  margin-bottom: 60px;
  @media screen and (max-width: 1024px) {
    margin-bottom: 40px;
  }
  &__item {
    position: relative;
    background-size: contain;
    width: 1439px;
    height: 600px !important;
    padding-top: 120px;
    display: flex !important;
    justify-content: center;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (max-width: 768px) {
      padding-top: 95px;
    }
    @media screen and (max-width: 600px) {
      padding-top: 125px;
    }
    .main-button {
      z-index: 1;
      width: 183px;
      color: #ffffff;
      position: absolute;
      bottom: 11%;
      right: 10%;
      background: transparent;
      border: solid 2px #ffffff;
      color: #ffffff;
      img.black {
        display: none;
      }
      img.down {
        transform: rotate(90deg);
      }
      &__text {
        font-family: "TitilliumWebSemiBold", serif;
        font-size: 14px;
        padding-right: 41px;
      }
      @media (min-width: 1441px) {
        right: calc((100vw - 1110px) / 2);
      }
      @media screen and (max-width: 480px) {
        display: none;
      }
    }
    .main-button:hover {
      background-color: #ffd84b;
      border: 2px solid #ffd84b;
      color: black;
      img.white {
        display: none;
      }
      img.black {
        display: block;
      }
    }
    .main-button:focus {
      background-color: #ffd84b;
      border: 2px solid #ffd84b;
      outline: none;
      color: $black;
      img.white {
        display: none;
      }
      img.black {
        display: block;
      }
    }
  }
  &__item::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    opacity: 0.5;
  }
  &__container {
    z-index: 1;
    @include flex(flex-start, center, column);
    width: 46%;
    @media screen and (max-width: 1300px) {
      width: 57%;
    }
    @media screen and (max-width: 1024px) {
      width: 75%;
    }
    @media screen and (max-width: 768px) {
      width: 98%;
    }
  }
  &__title {
    font-family: "TitilliumWebBold", serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.15;
    text-align: center;
    margin: 0 0 20px;
    color: $white;
    @media screen and (max-width: 480px) {
      font-size: 24px;
      line-height: 1.33;
    }
  }
  &__text {
    font-family: "TitilliumWebRegular", serif;
    text-align: center;
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 18px;
    color: $white;
    width: 100%;
    @media screen and (max-width: 480px) {
      font-size: 14px;
      line-height: 1.71;
    }
  }
  &__img {
    height: 100%;
    width: 100%;
    @media (min-width: 1600px) {
      width: 60%;
    }
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    z-index: 1;
    bottom: 11%;
    width: 54px;
    height: 54px;
    border: solid 2px $verylightpink;
    border-radius: 50%;
    background: transparent;
    background: url(../img/arrow-right-s-line.svg) no-repeat center;
    @media (max-width: 480px) {
      display: none !important;
    }
  }
  .slick-prev:hover,
  .slick-next:hover {
    border: solid 2px $sunyellow;
    background: url(../img/arrow-right-s-line-hover.svg) no-repeat center;
    cursor: pointer;
  }
  .slick-prev {
    left: 10%;
    transform: rotate(180deg);
    @media screen and (min-width: 1441px) {
      left: calc(50% - 1100px / 2);
    }
    @media screen and (max-width: 1024px) {
      left: 5%;
    }
  }
  .slick-next {
    left: 16%;
    @media screen and (min-width: 1441px) {
      left: calc(54% - 1100px / 2);
    }
    @media screen and (max-width: 1024px) {
      left: 14%;
    }
    @media screen and (max-width: 600px) {
      left: 17%;
    }
  }
}

.company {
  margin-bottom: 101px !important;
  @media (max-width: 480px) {
    margin-bottom: 45px !important;
  }
  .main-block {
    @include flex(space-between, start, row);
    margin-bottom: 50px;
    @media screen and (min-width: 1024px) {
      justify-content: space-evenly;
      position: relative;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 32px;
    }
    @media screen and (max-width: 480px) {
      @include flex(space-between, stretch, column);
      margin-bottom: 40px;
    }
    &__title {
      font-family: "TitilliumWebBold", serif;
      font-size: 40px;
      line-height: 1.15;
      width: 19%;
      margin: 0;
      color: $black;
      @media screen and (min-width: 1024px) {
        position: absolute;
        left: 0;
        justify-self: flex-start;
      }
      @media screen and (max-width: 1024px) {
        width: 49%;
      }
      @media screen and (max-width: 480px) {
        width: 90%;
        font-size: 24px;
        margin-bottom: 20px;
      }
    }
    &__inner {
      @include flex(space-between, start, row);
      width: 54%;
      @media screen and (min-width: 1024px) {
        margin-left: auto;
        margin-right: 0;
      }
      @media screen and (max-width: 480px) {
        width: 90%;
      }
    }
    &__logo {
      position: absolute;
      img {
        width: auto;
        height: fit-content;
        max-width: 70px;
        max-height: 70px;
      }
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
    &__heading {
      font-family: "TitilliumWebSemiBold", serif;
      padding-bottom: 15px;
      padding-left: 80px;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.56;
      @media screen and (max-width: 1024px) {
        padding-left: 0;
      }
    }
    &__text {
      font-family: "TitilliumWebRegular", serif;
      font-size: 16px;
      line-height: 1.75;
      padding-left: 80px;
      max-height: 170px;
      overflow-y: auto;
      max-height: 85px;
      @media screen and (max-width: 1024px) {
        padding-left: 0;
      }
    }
    &__text::-webkit-scrollbar {
      width: 5px;
      background-color: #dcdcdc;
    }
    &__text::-webkit-scrollbar-thumb {
      background-color: $sunyellow;
  }
  }

  .switch-block {
    @include flex(start, center, row);
    margin-bottom: 40px;
    &__title {
      font-family: "TitilliumWebSemiBold", serif;
      padding-right: 30px;
      font-size: 18px;
      line-height: 1.56;
    }
    hr {
      width: 75%;
      @media screen and (max-width: 968px) {
        width: 70%;
      }
      @media screen and (max-width: 768px) {
        width: 57%;
      }
      @media screen and (max-width: 480px) {
        display: none;
      }
    }
  }

  .slider-block {
    @include flex(space-around, center, row);
    position: relative;
    &__item {
      height: 92px !important;
      display: flex !important;
      justify-content: center;
      align-items: center;
      margin: 0 7px;
      @media screen and (max-width: 768px) {
        // margin: 0 10px;
        margin: 0;
      }
    }
    &__item:hover {
      cursor: pointer;
      border-radius: 18px;
      box-shadow: none !important;
      border: 1px solid #ffca0f;
    }
    &__item:focus {
      outline: none;
    }
    &__img {
      width: 100%;
      height: fit-content;
      max-width: 50px;
    }
    .slick-track {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }
    .slick-list {
      margin: 0 !important;
      padding: 2px 0 !important;
      @media screen and (max-width: 480px) {
        margin: 0 !important;
      }
    }
    .slick-prev,
    .slick-next {
      cursor: pointer;
      position: absolute;
      top: -62px;
      width: 8px;
      height: 13px;
      background: url(../img/arrow-right-s-line.svg) no-repeat center;
    }
    .slick-prev {
      right: 0;
    }
    .slick-next {
      right: 3%;
      transform: rotate(180deg);
      @media (max-width: 480px) {
        right: 10%;
      }
    }
    .slick-prev:hover,
    .slick-next:hover {
      background: url(../img/arrow-right-s-line-hover.svg) no-repeat center;
    }
  }
}

.cards {
  background: url(../img/oval.svg) no-repeat top/cover;
  .main-block {
    @include flex(space-between, center, row);
    margin-bottom: 60px;
    @media screen and (max-width: 480px) {
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 20px;
    }
    &__title {
      font-family: "TitilliumWebBold", serif;
      font-size: 40px;
      line-height: 1.3;
      width: 47.68%;
      margin-bottom: 20px;
      @media screen and (max-width: 480px) {
        width: 90%;
        font-size: 24px;
      }
    }
    &__description {
      font-family: "TitilliumWebSemiBold", serif;
      font-size: 18px;
      line-height: 1.56;
      width: 47.68%;
      @media screen and (max-width: 480px) {
        width: 90%;
      }
    }
  }

  &-block {
    @include flex(space-between, stretch, row);
    padding-bottom: 120px;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
    @media screen and (max-width: 480px) {
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-bottom: 20px;
    }
    &__item {
      position: relative;
      padding: 28px 0 0;
      border-radius: 18px;
      background-color: $sunyellow;
      width: 270px;
      height: 350px;
      transition: all 0.6s linear;
      @media screen and (max-width: 1439px) {
        width: 24.2%;
      }
      @media screen and (max-width: 768px) {
        width: 47.68%;
        margin-bottom: 30px;
      }
      @media screen and (max-width: 480px) {
        width: 255px;
        margin-bottom: 20px;
      }
    }
    &__item:hover {
      cursor: pointer;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      .cards-block__img {
        display: none;
      }
      .cards-block__title {
        height: auto;
        margin-bottom: 14px;
      }
      .cards-block__text {
        display: block;
        margin-bottom: 16px;
        overflow-y: auto;
      }
      .cards-block__button {
        display: block;
        margin-top: auto;
      }
    }
    &__title {
      font-family: "TitilliumWebBold", serif;
      overflow: hidden;
      height: 26%;
      font-size: 24px;
      line-height: 1.17;
      padding: 0 13px;
      text-align: center;
    }
    &__text {
      display: none;
      font-family: "TitilliumWebRegular", serif;
      font-size: 14px;
      line-height: 1.71;
      height: 50%;
      padding: 0 13px;
    }
    &__text::-webkit-scrollbar {
      width: 5px;
      background-color: #dcdcdc;
    }
    &__text::-webkit-scrollbar-thumb {
      background-color: $sunyellow;
    }
    &__img {
      height: 74%;
      width: 97%;
      display: flex;
      align-items: flex-end;
      margin: 0 auto;
      img {
        width: 100%;
        max-height: 281px;
        @media (max-width: 768px) {
          width: 100%;
        }
        @media (max-width: 480px) {
          width: 100%;
        }
      }
      @media (max-width: 1440px) {
        width: 83%;
      }
      @media (max-width: 768px) {
        width: 70%;
      }
      @media (max-width: 480px) {
        width: 65%;
      }
    }
    &__item:first-child &__img {
      width: 100%;
    }
    &__item:nth-child(1) &__img {
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    &__item:nth-child(1) &__img img{ 
      @media (min-width:700px) and (max-width: 768px) {
        width: 297px;
        height: 263px;
      }
    }
    &__item:nth-child(2) &__img {
      @media (max-width: 480px) {
        width: 90%;
      }
      @media (min-width:600px) and (max-width: 768px) {
        width: 85%;
      }
    }
    &__item:nth-child(2) &__img img{   
      @media (min-width: 1440px) {
        width: 231px;
        height: 290px;
        max-height: 355px;
      }
      @media (min-width:600px) and (max-width: 768px) {
        width: 231px;
        height: 290px;
        max-height: 355px;
      }
      @media (max-width: 480px) {
        width: 231px;
        height: 290px;
        max-height: 355px;
      }
    }
    &__item:nth-child(3) &__img {
      @media (min-width: 768px) {
        width: 92%;
      }
      @media (min-width:600px) and (max-width: 768px) {
        width: 88%;
      }
      @media (max-width: 480px) {
        width: 97%;
      }
    }
    &__item:nth-child(3) &__img img{   
      @media (min-width: 1440px) {
        width: 255px;
        height: 355px;
        max-height: 355px;
      }
      @media (min-width:600px) and (max-width: 768px) {
        width: 255px;
        height: 355px;
        max-height: 355px;
      }
      @media (max-width: 480px) {
        width: 255px;
        height: 355px;
        max-height: 355px;
      }
    }
    &__item:nth-child(4) &__img {
      @media (min-width: 768px) {
        width: 70%;
      }
    }
    &__item:nth-child(4) &__img img{   
      @media (min-width: 1440px) {
        width: 179px;
        height: 207px;
      }
      @media (min-width:600px) and (max-width: 768px) {
        width: 179px;
        height: 207px;
      }
      @media (max-width: 480px) {
        width: 179px;
        height: 207px;
      }
    }
    &__button {
      display: none;
      background-color: $sunyellow;
      font-family: "TitilliumWebSemiBold", serif;
      font-size: 14px;
      color: black;
      height: 60px;
      padding: 19px 24px;
      border-bottom-left-radius: 18px;
      border-bottom-right-radius: 18px;
    }
    &__arrow {
      position: absolute;
      bottom: 24px;
      right: 24px;
    }
  }
}

.animation {
  background-image: linear-gradient(
    to right,
    $sunyellow 0%,
    #efedd3 51%,
    #d2e9ff 100%
  );
  position: relative;
  margin-bottom: 80px;
  @media (max-width: 768px) {
    width: 90%;
    margin: 0px auto 80px;
    border-radius: 38px;
  }
  @media (max-width: 480px) {
    margin-bottom: 20px;
  }
  .wrapper {
    @include flex(space-between, center, row);
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  &-block-left {
    @include flex(start, flex-start, column);
    margin: 53px 0;
    width: 37%;
    @media screen and (max-width: 768px) {
      width: 72%;
      margin: 60px 0 40px;
    }
    @media screen and (max-width: 480px) {
      width: 90%;
    }
    &__title {
      font-family: "TitilliumWebBold", serif;
      font-size: 40px;
      line-height: 1.3;
      color: $black;
      margin: 0 0 20px;
      span {
        font-family: "TitilliumWebRegular", serif;
      }
      @media screen and (max-width: 480px) {
        font-size: 24px;
      }
    }
    &__description {
      font-family: "TitilliumWebSemiBold", serif;
      font-size: 18px;
      line-height: 1.56;
      @media screen and (max-width: 1024px) {
        width: auto;
      }
      @media screen and (max-width: 480px) {
        font-size: 18px;
      }
    }
  }
  &-block-right {
    @include flex(start, flex-start, column);
    margin: 53px 0;
    width: 40%;
    @media screen and (max-width: 768px) {
      width: 72%;
      margin: 0 0 40px;
    }
    @media screen and (max-width: 480px) {
      width: 90%;
    }
    &__description {
      font-family: "TitilliumWebSemiBold", serif;
      font-size: 18px;
      line-height: 1.56;
      @media screen and (max-width: 1024px) {
        width: auto;
      }
      @media screen and (max-width: 480px) {
        font-size: 18px;
      }
    }
  }
  .main-button {
    width: auto;
    margin-bottom: 20px;
    z-index: 10;
    &__text {
      padding-right: 31px;
    }
  }
}

.callback {
  background: url(../img/bitmap-home.jpg) no-repeat center/cover;
  margin-bottom: 80px;
  @media screen and (max-width: 768px) {
    background: url(../img/bitmap-tablet.jpg) no-repeat center/cover;
  }
  @media screen and (max-width: 480px) {
    background: url(../img/bitmap-mobile.jpg) no-repeat center/cover;
  }

  &-block {
    @include flex(space-between, start, column);
    padding: 130px 0;
    &__text {
      font-family: "TitilliumWebBold", serif;
      font-size: 40px;
      line-height: 1.3;
      color: #ffffff;
      margin-bottom: 81px;
      width: 55%;
      @media screen and (max-width: 1024px) {
        width: 80%;
      }
      @media screen and (max-width: 480px) {
        width: 100%;
        font-size: 24px;
      }
    }
    .main-button {
      @media (max-width: 480px) {
        margin: 0 auto;
      }
    }
  }
}

.news {
  margin-bottom: 80px !important;
  .main-button {
    margin-left: 10px;
  }
  &-block {
    text-align: center;
    margin-bottom: 60px;
    &__title {
      font-family: "TitilliumWebBold", serif;
      font-size: 40px;
      line-height: 1.3;
      @media (max-width: 480px) {
        font-size: 24px;
      }
    }
    &__text {
      font-family: "TitilliumWebSemiBold", serif;
      font-size: 18px;
      line-height: 1.56;
    }
  }
  &-slider {
    &__item {
      position: relative;
      display: flex !important;
      justify-content: space-between;
      align-items: stretch;
      flex-direction: column;
      height: 260px !important;
      margin: 0 15px;
      padding: 20px 20px 30px;
      border-radius: 18px;
      color: white;
      margin-bottom: 40px;
      background-position: center;
    }
    &__item:focus {
      outline: none;
    }
    &__block-categories {
      @include flex(flex-end, center, row);
      flex-wrap: wrap;
    }
    &__categories {
      padding: 6px 12px;
      margin-right: 8px;
      margin-bottom: 2px;
      border-radius: 6px;
      color: white;
      background-color: rgba(220, 220, 220, 0.5);
      font-family: "TitilliumWebSemiBold", serif;
      font-size: 12px;
    }
    &__categories:hover {
      background-color: $sunyellow;
      color: black;
    }
    &__text {
      font-family: "TitilliumWebSemiBold", serif;
      font-size: 16px;
      line-height: 1.5;
    }
    .slick-prev,
    .slick-next {
      position: absolute;
      z-index: 1;
      bottom: -54px;
      width: 54px;
      height: 54px;
      border: solid 2px $verylightpink;
      border-radius: 50%;
      background: transparent;
      background: url(../img/arrow-right-s-line.svg) no-repeat center;
      @media screen and (max-width: 480px) {
        display: none !important;
      }
    }
    .slick-prev:hover,
    .slick-next:hover {
      border: solid 2px $sunyellow;
      background: url(../img/arrow-right-s-line-hover.svg) no-repeat center;
      cursor: pointer;
    }
    .slick-prev {
      right: 77px;
      transform: rotate(180deg);
    }
    .slick-next {
      right: 10px;
    }
  }
}

.join {
  position: relative;
  @include flex(space-between, stretch, row);
  margin-bottom: 240px !important;
  max-height: 485px;
  @media screen and (max-width: 480px) {
    max-height: none;
    margin-bottom: 40px !important ;
  }
  .main-button {
    width: 200px;
    position: absolute;
    bottom: 15%;
    left: calc((100vw - 1110px) / 2);
    &__text {
      color: $black;
    }
    @media screen and (max-width: 1440px) {
      left: 10%;
    }
    @media screen and (max-width: 1024px) {
      left: 5%;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
    img {
      width: auto;
      height: auto;
      object-fit: contain;
    }
  }
  &__img {
    width: 51.73%;
    height: 480px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0 5% 5% 0;
      @media screen and (max-width: 768px) {
        border-radius: 5%;
      }
    }
    @media screen and (max-width: 768px) {
      width: 46%;
    }
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
  &__text {
    position: absolute;
    bottom: 35%;
    font-family: "TitilliumWebBold", serif;
    opacity: 0.8;
    font-size: 40px;
    line-height: 1.05;
    color: #fff;
    left: calc((100vw - 1110px) / 2);
    @media screen and (max-width: 1440px) {
      left: 10%;
    }
    @media screen and (max-width: 1024px) {
      left: 5%;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &-block {
    @include flex(start, flex-start, column);
    width: 38.58%;
    padding-right: 50px;
    .main-button {
      display: none;
      width: 193px;
      position: static;
      bottom: 20%;
      left: calc((100vw - 1110px) / 2);
      @media screen and (max-width: 1440px) {
        left: 10%;
      }
      @media screen and (max-width: 1024px) {
        left: 5%;
      }
      &__text {
        padding-right: 30px;
      }
      img {
        width: auto;
        height: auto;
        object-fit: contain;
      }
    }
    @media screen and (min-width: 1441px) {
      padding-right: calc((100vw - 1110px) / 2);
      width: 46.58%;
    }
    @media screen and (max-width: 1440px) {
      padding-right: 10%;
    }
    @media screen and (max-width: 1024px) {
      padding-right: 5%;
    }
    @media screen and (max-width: 768px) {
      .main-button {
        display: flex;
      }
      width: 49%;
      padding-right: 0;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
      padding: 0;
    }
    &__title {
      font-family: "TitilliumWebBold", serif;
      font-size: 40px;
      line-height: 1.3;
      margin-bottom: 30px;
      span {
        font-family: "TitilliumWebRegular", serif;
      }
      @media screen and (max-width: 480px) {
        font-size: 24px;
      }
    }
    &__text {
      font-family: "TitilliumWebRegular", serif;
      font-size: 16px;
      line-height: 2;
      margin-bottom: 45px;
      width: 100%;
      overflow-x: hidden;
      @media screen and (max-width: 480px) {
        font-size: 14px;
      }
    }
    &__text::-webkit-scrollbar {
      width: 5px;
      background-color: #dcdcdc;
    }
    &__text::-webkit-scrollbar-thumb {
      background-color: $sunyellow;
    }
  }
}

.join.wrapper {
  margin-left: 0;
  margin-right: 5%;
  width: 100%;
  @media screen and (min-width: 1441px) {
    margin-left: 0;
  }
  @media screen and (max-width: 768px) {
    width: 80%;
    margin: 0 auto;
  }
}

.last {
  @include flex(space-between,stretch,row);
  @media screen and (max-width:768px) {
    flex-direction: column;
  }
  &-block {
    position: relative;
      background: url(../img/last.jpg) no-repeat center/cover;
      width: 50%;
      @include flex(center,flex-end,row);
      @media screen and (max-width:768px) {
        width: 100%;
      }
    &__inner {
      @include flex(center,flex-start,column);
      width: 100%;
      margin: 184px 0 41px;
      z-index: 10;
      padding-left: 20%;
      padding-right:10%;
      @media screen and (min-width:1441px) {
        padding-left:calc((100vw - 1110px)/2);
        padding-right:10%;
      }
      @media screen and (max-width:1024px) {
        padding-left:10%;
        padding-right:10%;
      }
      @media screen and (max-width:768px) {
        width: 61%;
        padding-left:0;
        padding-right:0;
      }
      @media screen and (max-width:480px) {
        width: 90%;
      }
      .main-button {
        width: 200px;
      }
    }
    &__text {
      font-size: 18px;
      line-height: 1.56;
      color: #fff;
      font-family: "TitilliumWebSemiBold",serif;
      margin-bottom: 30px;
      @media screen and (max-width:480px) {
        font-size: 16px;
      }
    }
    
    &-right {
      background: url(../img/last-bg-right.svg) no-repeat center/cover;  
      width: 50%;
      @include flex(center,flex-start,row);
      @media screen and (max-width:768px) {
        width: 100%;
      }
      @media screen and (min-width:1441px) {
        padding-right: calc((100vw - 1100px) / 2);
      }
      @media screen and (max-width:1024px) {
        padding-left:5%;
      }
      @media screen and (max-width:768px) {
        padding-left:0;
      }
      &__inner {
        @include flex(center,flex-start,column);
        width: 55%;
        margin-top: 60px;
        @media screen and (max-width:1024px) {
            width: 90%;
        }
        @media screen and (max-width:768px) {
          width: 61%;
          margin-bottom: 93px;
        }
        @media screen and (max-width:480px) {
          width: 90%;
        }
      }
      &__title {
        font-size: 40px;
        line-height: 1.3;
        color: $black;
        font-family: "TitilliumWebRegular",serif;
        margin-bottom: 20px;
        span {
          font-family: "TitilliumWebBold",serif;
        }
      }
      &__text {
        font-size: 18px;
        line-height: 1.56;
        color: $black;
        font-family: "TitilliumWebSemiBold",serif;
        @media screen and (max-width:480px) {
          font-size: 16px;
        }
      }
    }
  }
  &-block:after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    // background: red;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    opacity: 0.5;
  }
}

#p_prldr{
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  background: #ffffff;
  z-index: 30;}
   
  .contpre small{font-size:25px;}
   
  .contpre{
  width: 250px;
  height: 100px;
  position: absolute;
  left: 50%;top: 48%;
  margin-left:-125px;
  margin-top:-75px;
  color:#fff;
  font-size:40px;
  letter-spacing:-2px;
  text-align:center;
  line-height:35px;}
   
  #p_prldr .svg_anm {
  position: absolute;
  width: 51px;
  height: 51px;
  background: url(../img/spinner-skype.gif) center center no-repeat;
  background-size:51px;    
  margin: -16px 0 0 -16px;}