@import "help/vars_and_mixins";
.news {
    margin-bottom: 120px;
}

.news-block {
    text-align: center;
    margin-bottom: 60px;
    &__title {
        font-family: "TitilliumWebBold",serif;
        font-size: 40px;
        line-height: 1.3;
    }
    &__text {
        font-family: "TitilliumWebSemiBold",serif;
        font-size: 18px;
        line-height: 1.56;  
    }
}

.news-slider {
    &__item {
        position: relative;
        display: flex!important;
        justify-content: space-between;
        align-items: stretch;
        flex-direction: column;
        height: 260px!important;
        margin: 0 15px;
        padding: 20px 20px 30px;
        border-radius: 18px;
        color: white;
        margin-bottom: 40px;
    }
    &__item:focus {
        outline: none;
    }
    &__block-categories {
        @include flex(flex-end,center,row);
        flex-wrap: wrap;
    }
    &__categories {
        padding: 6px 12px;
        margin-right: 8px;
        margin-bottom: 2px;
        border-radius: 6px;
        color: white;
        background-color: rgba(220, 220, 220, 0.5);
        font-family: "TitilliumWebSemiBold",serif;
        font-size: 12px;
    }
    &__categories:hover {
        background-color: $sunyellow;
        color: black;
    }
    &__text {
        font-family: "TitilliumWebSemiBold",serif;
        font-size: 16px;
        line-height: 1.5;
    }
    .slick-prev,.slick-next {
        position: absolute;
        z-index: 1;
        bottom: -54px;
        width: 54px;
        height: 54px;
        border: solid 2px $verylightpink;
        border-radius: 50%; 
        background: transparent;
        background: url(../img/arrow-right-s-line.svg) no-repeat center;
        @media screen and (max-width:480px) {
            display: none!important; 
        }
    }
    .slick-prev:hover,.slick-next:hover {
        border: solid 2px $sunyellow;
        background: url(../img/arrow-right-s-line-hover.svg) no-repeat center;
    }
    .slick-prev {
        right: 67px;
        transform: rotate(180deg);

    }
    .slick-next {
        right: 0;
    } 
}