@import "help/vars_and_mixins";
.blog-slider {
    min-height: 400px;
    &__item {
        position: relative;
        width: 1439px;
        height: 100%;
        padding: 254px 354px;
        display: flex!important;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media (max-width:1200px) {
            padding: 254px 39px;
        }
        @media (max-width:480px) {
            padding: 200px 15px;
        }
        .main-button {
            position: absolute;
            bottom: 11%;
            right: 13%;
            background: transparent;
            border: solid 2px #ffffff;
            color: #ffffff;
            width: 170px;
            padding: 17px 14px;
            img.black {
                display: none;
            }
            @media (max-width:480px) {
                right:auto;
            }
        }
        .main-button:hover {
            background-color: #ffd84b;
            border: 2px solid #ffd84b;
            color: black;
            img.white{
                display: none;
            }
            img.black{
                display: block;
            }   
        }
        .main-button:focus {
            background-color: #ffd84b;
            border: 2px solid #ffd84b;
            outline: none;
        }
    }
    &__title {
        font-family: "TitilliumWebBold",serif;
        font-size: 40px;
        font-weight: bold;
        line-height: 1.15;
        text-align: center;
        color: $white;
        @media screen and (max-width:480px) {
            font-size: 24px;
            line-height: 1.33;
        }
    }
    .slick-prev,.slick-next {
        position: absolute;
        z-index: 1;
        bottom: 11%;
        width: 54px;
        height: 54px;
        border: solid 2px $verylightpink;
        border-radius: 50%; 
        background: transparent;
        background: url(../img/arrow-right-s-line.svg) no-repeat center;
    }
    .slick-prev:hover,.slick-next:hover {
        border: solid 2px $sunyellow;
        background: url(../img/arrow-right-s-line-hover.svg) no-repeat center;
        cursor: pointer;
    }
    .slick-prev {
        left: 164px;
        transform: rotate(180deg);
        @media screen and (max-width:960px) {
            left: 93px;  
        }
        @media screen and (max-width:768px) {
            left: 3%;  
        }
        @media screen and (max-width:600px) {
            left: 0%;  
        }
    }
    .slick-next {
        left: 228px;
        @media screen and (max-width:960px) {
           left: 161px; 
        }
        @media screen and (max-width:768px) {
           left: 12%; 
        }
    }   
}