@import "help/vars_and_mixins";

.services {
    overflow-x: hidden;
    background: #fff;
    position: relative;
    padding-top: 100px;
    &__player {
        width: 100%;
        height: auto;
        max-height: 100%;
    }
    &__img {
        position: absolute;
        z-index: 1;
        left: calc((100vw - 710px)/2);
        bottom:-70px;
        @media (max-width:1024px) {
            width: 50%;
            left: 25%;
        }
        @media (max-width:1024px) {
            width: 50%;
            left: 25%;
        }
        @media (max-width:768px) {
            width: 75%;
            left: 12%;
        }
        @media (max-width:480px) {
            width: 66%;
            left: 17%;
            bottom:-33px;
        }
    }
    &__baner {
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media (min-width:1441px) {
            // padding-right: calc((100vw - 1110px)/2);
        }
        @media (max-width:1440px) {
            // padding-right: 10%;
        }
        .main-button {
            position: absolute;
            bottom: 10%;
            right: calc((100vw - 1110px)/2);
            width: 183px;
            color: #ffffff;
            background: transparent;
            border: solid 2px #ffffff;
            color: #ffffff;
            z-index: 2;
            img.black {
                display: none;
            }
            img.down {
                transform: rotate(90deg);
            }
            &__text {
                font-family: "TitilliumWebSemiBold",serif;
                font-size: 14px;
                padding-right: 36px;
            }
            @media screen and (max-width:1440px) {
                right: 10%;
            }
            @media screen and (max-width:1024px) {
                right: 5%;
            }
            @media screen and (max-width:768px) {
                display: none;
            }
        }
        .main-button:hover {
            background-color: #ffd84b;
            border: 2px solid #ffd84b;
            color: black;
            img.white{
                display: none;
            }
            img.black{
                display: block;
            }   
        }
        .main-button:focus {
            background-color: #ffd84b;
            border: 2px solid #ffd84b;
            outline: none;
        }
    }
    &-info {
        background-image:  linear-gradient(
            to right,
            $sunyellow 0%,
            #d2e9ff 100%
        );
        position: relative;
        margin-bottom: 60px;
        @media screen and (max-width: 480px) {
            margin-bottom: 40px;
        }
        &__block {
            @include flex(space-between, center, row);
            padding: 130px 0;
            @media screen and (max-width: 1024px) {
              @include flex(space-between, stretch, column);
              padding: 63px 116px 63px 120px;
            }
            @media screen and (max-width: 768px) {
              @include flex(space-between, stretch, column);
              padding: 63px 50px 63px 0px;
            }
            @media screen and (max-width: 480px) {
              padding: 40px 0px 31px 0px;
            }
          }
          &__title {
            font-family: "TitilliumWebBold", serif;
            font-size: 40px;
            line-height: 1.3;
            color: $black;
            span {
              font-family: "TitilliumWebRegular", serif;
            }
            @media screen and (max-width: 480px) {
              font-size: 24px;
            }
          }
          &__description {
            font-family: "TitilliumWebSemiBold", serif;
            font-size: 24px;
            line-height: 1.58;
            width: 50%;
            @media screen and (max-width: 1024px) {
              width: auto;
            }
            @media screen and (max-width: 480px) {
              font-size: 18px;
            }
          }
    }
    .callback {
        background: url(../img/service-bg.png) no-repeat center/cover;
    }
    .callback-block {
        &__text {
            width: 43%;
            @media screen and (max-width:1024px) {
                width: 50%;
            }
            @media screen and (max-width:480px) {
                font-size: 24px;
                width: 100%;

            }
        }
        .main-button {
            @media (max-width: 480px) {
                margin: 0 auto;
            }
        }
    }
}
